$background_color: #F4F4F4;
$chessable_blue: #034FDF;
$button_background_color: #2c8b5c;
$button_hover_background_color: #3a7457;
$button_color: #fff;
$report_header_color: #fff;
$logo_url: './assets/img/logo_chessable.svg';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: $background_color;
    line-height: 1.37rem;
}
.application-main, .footer {
    background-color: $background_color;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}
.application-main {
    margin-top: 80px;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    display: flex;
    /* padding: 26px 39px 0; */
    height: 80px;
    background-color: $chessable_blue;
}
button.btn-primary {
    font-family: 'Montserrat', sans-serif;
    background-color: $button_background_color;
    border-color: $button_background_color;
    color: $button_color;
}
button {
    border-radius: 7px;
}
button.btn-primary:hover, button.btn-primary:focus, button.btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: $button_hover_background_color;
    border-color: $button_hover_background_color;
    color: $button_color;
}
.add-new {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.modal-alert-success {
    border: none;
    .modal-header, .modal-body, .modal-footer {
        background-color: #d4edda;
        color: #155724;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-footer {
        border-top: none;
    }
} 
.card {
    border-radius: 8px;
}
.report-list .card {
    border-radius: 0;
}
.report-list .card-body {
    padding: 1.1rem 1.25rem;
    p, h6 {
        margin-bottom: 0;
    }
}
.info-icon {
    color: $chessable_blue;
}
.side-content .card {
    margin: 20px 0 20px;
}
input, select {
    margin: 10px 0 10px;
}
.report-header {
    position: -webkit-sticky;
    position: sticky;
    top: 79px;
    z-index: 999;
    background-color: $report_header_color;
    color: #868686;
    border-bottom: 1px solid black;
}
.number-cell {
    text-align: right;
}
.logo-col a img{
    margin: 26px 39px 0;
    /* border-right: 1px solid $background_color; */
}
.header .logo-col {
    height: 100%;
}
/* .logo-col {
    border-right: 1px solid $background_color;
} */
.header-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 39px;
    h1 {        
        font-size: 2rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .logo-col {
        display: none;
    }
    .header-title {
        padding-top: 3px;
        h1 {
            font-size: 1.3rem;
            margin-top: 3px;
            float: right;
        }
    }
}

@media only screen and (min-width: 769px) {
    .header-logo-small {
        display: none;
    }
}