$background_color: #F4F4F4;
$header_color: #034FDF;
$button_background_color: #2c8b5c;
$button_color: #fff;
$report_header_color: #fff;
$logo_url: './assets/img/logo_chessable.svg';

html {
    font-size: 14px;
}
body {
    background-color: $background_color;
    line-height: 1.37rem;
}
.application-main, .footer {
    background-color: $background_color;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}
.application-main {
    margin-top: 80px;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: 26px 39px 0;
    height: 80px;
    background-color: $header_color;
}
button.btn-primary {
    background-color: $button_background_color;
    border-color: $button_background_color;
    color: $button_color;
}
.add-new {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card {
    border-radius: 8px;
}
.report-list .card {
    border-radius: 0;
}
.side-content .card {
    margin: 28px 0 28px;
}
input, select {
    margin: 10px 0 10px;
}
.report-header {
    position: -webkit-sticky;
    position: sticky;
    top: 79px;
    z-index: 999;
    background-color: $report_header_color;
    color: #868686;
}
.number-cell {
    text-align: right;
}