$background_color: #F4F4F4;
$header_color: #034FDF;
$button_background_color: #2c8b5c;
$button_color: #fff;
$logo_url: './assets/img/logo_chessable.svg';

body {
    background-color: $background_color;
}
.application-main, .footer {
    max-width: 900px;
    background-color: $background_color;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}
.header {
    padding: 26px 39px 0;
    height: 80px;
    background-color: $header_color;
}
button.btn-primary {
    background-color: $button_background_color;
    border-color: $button_background_color;
    color: $button_color;
}